<html>
    <head>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>
      <script type="text/javascript" charset="utf-8"></script>    
      
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'table']});
        google.charts.setOnLoadCallback(init);

        function init() {
          var socket = io();
          socket.on('my_response', function (data) {
            var s = JSON.parse(data.result);
            console.log(s)
            drawChart(s)
            drawTable(s)
          })
        }

        function drawChart(s) {
          var data = new google.visualization.DataTable();
            data.addColumn('number', 'Time');
            data.addColumn('number', 'CPU käyttö%');
            data.addColumn('number', 'RAM käyttö%');
            data.addColumn('number', 'CPU lämpötila');
            data.addRows(s);
  
          var options = {
            title: 'Indoor positioning system data',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }

        /** https://developers.google.com/chart/interactive/docs/gallery/table 
        function drawTable(s) {
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Time');
          data.addColumn('number', 'X');
          data.addColumn('number', 'y');
          data.addColumn('number', 'z');
          data.addRows(s);
  
          var table = new google.visualization.Table(document.getElementById('table_div'));
  
          table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
        }*/
      </script>
    </head>
    <body>
      <div id="curve_chart" style="width: 900px; height: 500px"></div>
      <div id="table_div"></div>
    </body>
  </html>
  